<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Node.js Authenticated Login
  body
    block header
      button Login/Logout
      button Settings
    .content
      block content
    block footer
      footer A Dan Buda Joint