<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Node.js Authenticated Login
    link(rel="stylesheet", href="/public/styles/main.css")
  body
    block header
      .navbar
        a(href="/")
          img(src="/public/images/logo.png" style="height:2rem; cursor:pointer;")
        a#register(href="/register") Register
        a(href="/settings") Settings
        a(href="/login") Login
        a#logout(href="/logout") Logout
    .content
      block content
    block footer
      footer A Dan Buda Joint
    block scripts
      script(src="/public/js/index.js")
